<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Index</title>-->
<!--</head>-->
<!--<body>-->

<!--<div th:each="locale : ${locale}">-->
<!--    <a th:href="@{/locales/{guild_id}(guild_id=${locale.getGuildId()})}"-->
<!--       th:text="${locale.getLocaleName() + ', ' + locale.getLocaleEN()}"> LanguageSet</a>-->
<!--</div>-->

<!--<br/>-->
<!--<hr/>-->

<!--<a href="/locales/new">Create new locale</a>-->

<!--</body>-->
<!--</html>-->