<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>New locale</title>-->
<!--</head>-->
<!--<body>-->

<!--<form th:method="POST" th:action="@{/locales}" th:object="${locale}">-->
<!--    <label for="locale_name">Enter locale name: </label>-->
<!--    <input type="text" th:field="*{localeName}" id="locale_name"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('locale_name')}" th:errors="*{localeName}">Locale name Error-->
<!--    </div>-->
<!--    <br/>-->
<!--    <label for="locale_en">Enter locale en: </label>-->
<!--    <input type="text" th:field="*{localeEN}" id="locale_en"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('locale_en')}" th:errors="*{localeEN}">Locale en Error</div>-->
<!--    <br/>-->
<!--    <label for="locale_ru">Enter locale ru: </label>-->
<!--    <input type="text" th:field="*{localeRU}" id="locale_ru"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('locale_ru')}" th:errors="*{localeRU}">Locale ru Error</div>-->
<!--    <br/>-->
<!--    <label for="locale_ua">Enter locale ua: </label>-->
<!--    <input type="text" th:field="*{localeUA}" id="locale_ua"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('locale_ua')}" th:errors="*{localeUA}">Locale ua Error</div>-->
<!--    <br/>-->
<!--    <label for="locale_cn">Enter locale cn: </label>-->
<!--    <input type="text" th:field="*{localeCN}" id="locale_cn"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('locale_cn')}" th:errors="*{localeCN}">Locale cn Error</div>-->
<!--    <br/>-->
<!--    <input type="submit" value="Create!"/>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->