<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Show</title>-->
<!--</head>-->
<!--<body>-->
<!--<p th:text="${locale.getLocaleName() + ', ' + locale.getLocaleEN()}">VALUE</p>-->
<!--<p th:text="${'Locale_ru: ' + locale.getLocaleRU()}">VALUE</p>-->
<!--<p th:text="${locale.getId()}">VALUE</p>-->

<!--<a th:href="@{/languages/{id}/edit(id=${locale.getId()})}">Edit</a>-->

<!--<form th:method="DELETE" th:action="@{/locales/{guild_id}(guild_id=${locale.getGuildId()})}">-->
<!--    <input type="submit" value="Delete"/>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->