<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New locale</title>
</head>
<body>

<form th:method="POST" th:action="@{/languages}" th:object="${locale}">
    <label for="locale_name">Enter locale name: </label>
    <input type="text" th:field="*{locale_name}" id="locale_name"/>
    <div style="color:red" th:if="${#fields.hasErrors('locale_name')}" th:errors="*{locale_name}">Locale name Error
    </div>
    <br/>
    <label for="locale_en">Enter locale en: </label>
    <input type="text" th:field="*{locale_en}" id="locale_en"/>
    <div style="color:red" th:if="${#fields.hasErrors('locale_en')}" th:errors="*{locale_en}">Locale en Error</div>
    <br/>
    <label for="locale_ru">Enter locale ru: </label>
    <input type="text" th:field="*{locale_ru}" id="locale_ru"/>
    <div style="color:red" th:if="${#fields.hasErrors('locale_ru')}" th:errors="*{locale_ru}">Locale ru Error</div>
    <br/>
    <label for="locale_ua">Enter locale ua: </label>
    <input type="text" th:field="*{locale_ua}" id="locale_ua"/>
    <div style="color:red" th:if="${#fields.hasErrors('locale_ua')}" th:errors="*{locale_ua}">Locale ua Error</div>
    <br/>
    <label for="locale_cn">Enter locale cn: </label>
    <input type="text" th:field="*{locale_cn}" id="locale_cn"/>
    <div style="color:red" th:if="${#fields.hasErrors('locale_cn')}" th:errors="*{locale_cn}">Locale cn Error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>